<section class="tracker">
<div class="container-fluid">
  <div class="live-tracking">
    <div class="live-tracking-sub confirmed text-center">
      <p class="heading">Confirmed cases</p>
      <p>{{confirmed}}</p>
    </div>
    <div class="live-tracking-sub active text-center">
      <p class="heading">Active cases</p>
      <p>{{active}}</p>
    </div>
    <div class="live-tracking-sub recovered text-center ">
      <p class="heading">Recovered cases</p>
      <p>{{recovered}}</p>
    </div>
    <div class="live-tracking-sub death text-center">
      <p class="heading">Death cases</p>
      <p>{{deaths}}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="main-plot">
    <!-- d3js graph will be here -->
    
    lol
</div>
</div>
</section>
