.tracker{
  .live-tracking{
    // background: lightblue;
    display: flex;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;

    .live-tracking-sub{
      flex: 1;
      .heading{
        font-weight: 900;
        text-transform: uppercase;
      }
    }

    .confirmed{
      color: #301728FF;
    }

    .active{
      color: #4F3466FF;
    }

    .recovered{
      color: green;
    }

    .death{
      color: red;
    }

  }


  .main-plot{

  }

}

.heading1{
  margin-top: 30px;
  margin-left:8vw;
  p{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;

    span{
      color: red;
    }
  }
}

.buttons{
  margin-left: 8vw;
}

.head123{
  .active{
    color: red;
}

.normal{
  background-color: white;
   color: blue;
}
}
