<section class="tracker">
  <div class="live-tracking">
    <div class="live-tracking-sub confirmed text-center">
      <p>Confirmed</p>
      <p>25</p>
    </div>
    <div class="live-tracking-sub active text-center">
      <p>Active</p>
      <p>25</p>
    </div>
    <div class="live-tracking-sub recovered text-center ">
      <p>Recovered</p>
      <p>25</p>
    </div>
    <div class="live-tracking-sub death text-center">
      <p>Death</p>
      <p>25</p>
    </div>
  </div>

  <div class="main-plot">
      <!-- d3js graph will be here -->
  </div>
</section>
