.tracker{
  .live-tracking{
    // background: lightblue;
    display: flex;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;

    .live-tracking-sub{
      flex: 1;
      .heading{
        font-weight: 800;
        text-transform: uppercase;
      }
    }

    .confirmed{
      color: red;
    }

    .active{
      color: blue;
    }

    .recovered{
      color: green;
    }

    .death{
      color: grey;
    }

  }


  .main-plot{

  }

}
