<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white !important; ">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/covidlogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    COVID-19 Tracker
  </a>

  <ul class="navbar-nav ml-auto">
      <img src="../../../assets/img/loading.gif" width="30" height="30" alt="">

    <li class="navbar-item">
      <a class="nav-link">Last Updated <strong>20 mins ago</strong></a>
    </li>
  </ul>
</nav>
