<div class="container" style="margin-top: 30px;">
<div class="row">
  <div class="col-md-6">

    <table
      id="table"
      class="table table-striped table-bordered mydatatable"
      style="font-family: 'Source Sans Pro', sans-serif; font-weight: 500;"
    >

    <thead>
      <tr>
        <th>State</th>
        <th>Confirmed</th>
        <th>Active</th>
        <th>Deaths</th>
      </tr>
    </thead>

    <tbody id="appendtable">

    </tbody>

    </table>
  </div>

  <div class="col-md-6 statehead" id="col1">
    <p>Top 10 Affected States :</p>
    <!-- horizontal bar plot -->
    <canvas id="myChart1"  height="300" class="mx-auto" style="margin-top: 30px;"></canvas>
  </div>
</div>

</div>
